canvas {
    position: absolute;
    z-index: 1;
}

#option-div {
    position: absolute;
    height: 373px;
    width: 350px;
    z-index: 2;
    padding: 10px;
    /*background-color: rgba(68, 68, 68, 0.16);*/
    /*border: thin;*/
}

#option-div span {
    width: 110px;
}

#option-div input {
    width: 170px;
}

.input-group {
    margin-bottom: 10px;
}